.shopWrapper {
    width: 100%;
    padding-top: 30px;
}

.sortAndFindItems{
    display: flex;
    height: 12vh;

}

.sort {
    padding-top: 30px;
    padding-left: 50px;
    flex: 1;
}

.sort img {
    cursor: pointer;
    position: relative;
    top:3px;
}

.sortSubcultures.button button {
    width: 120px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    border-left: 1px solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.sortSubcultures img{
    cursor: pointer;
    position: relative;
    top: 3px;
}


.sortSubcultures {
    margin-top: 20px;
}
.sortSubcultures span {
    margin-right: 10px;
    font-weight: 700;
}


.types {
    margin-top: 20px;
    font-weight: 700;
}

.typesDropdown {
    top: 210px;
    position: absolute;
    margin-top: 10px;
    height: 250px;
    width: 210px;
    z-index: 10;
    background-color: orange;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.chooseTypes {
    margin-top: 10px;
}

.chooseTypes input{
    background-color: white;
    border: 2px solid black;
    margin-left: 50px;
}
.chooseTypes span{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
}

.button {
    width: 120px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    border: 1px solid ;
}

.buttonActive {
    width: 120px;
    margin-right: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    cursor: pointer;
    border: 1px solid ;
}

.buttonActive button {
    background-color: black;
    color: white;
}




button:hover {
    font-weight: 700;
    color: white;
    background-color: black;
}

.find {
    margin-top: 30px;
    margin-right: 60px;
    text-align: right;
    flex: 1;
}

.find img{
    position: relative;
    top: 7px;
    left: 10px;
    width: 20px;
    cursor: pointer;
}

.find input {
    font-size: 16px;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: white;
    padding-bottom: 5px;
}

.search img{
    cursor: revert;
    position: relative;
    width: 30px;
    margin-right: 10px;
    top: 10px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid black;
}


.items {
    margin-top: 0px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;

}

.clothesIsNull {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 150px;
}
