.items {
    margin-top: 38px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    height: 80vh;
    margin: 1%;
    width: 23%;
    flex-direction: column;
}

.imgBlock {
    flex: 11;
    width: 100%;
    height: 30px;
}

.imgBlock img {
    width: 100%;
    height: 530px;
    cursor: pointer;
}

.unLike{
    position: relative;
    top: -520px;
    left: 360px;
}

.unLike img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nameBlock {
    flex: 1;
    background-color: white;
    padding-top: 30px;
    text-align: center;
}


.priceBlock {
    flex: 1;
    text-align: center;
}

.buttonBlock {
    padding-top: 30px;
    flex: 2;
    text-align: center;
}

.buttonBlock button {
    background-color: white;
    width: 50%;
    height: 40px;
    font-size: 24px;
    border: 1px solid black;
}

.buttonBlock button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}