.orderFalse {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 29%;
    margin: 2%;
    background-color: white;
    border: 1px solid black;
}

.orderTrue {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 29%;
    margin: 2%;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.elementOrder {
    margin-top: 10px;
    margin-left: 40px;
}

.clothes {
    margin-top: 10px;
}

.elementOrder button{
    background-color: white;
    margin-top: 10px;
    height: 30px;
    width: 300px;
}