
.orderTrue {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 1px solid black;
    background-color: black;
    margin-top: 30px;
    color: white;
}

.orderFalse {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 1px solid black;
    background-color: white;
    margin-top: 30px;
    color: black;
}

.elementOrder {
    margin-top: 10px;
    margin-left: 40px;
}

.elementClothes {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.clothes {
    margin-top: 10px;
}