.listBlock {
    position: absolute;
    width: 300px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    top: 40px;
    margin-bottom: 100px;
    background-color: black;
    z-index: 2;
}