.block{
    height: 92.5vh;
    display: flex;
}

.right {
    width: 40%;
}

.left{
    width: 60%;
}

.left img{
    height: 92.5vh;
    width: 96.7%;
}

.right ol {
    margin-top: 10%;
    margin-left: 30%;
    list-style-type: none;
    counter-reset: num 0;
}

.right ol li {
    position: relative;
    margin-bottom: 50px;
}

.right ol li:before {
    content: counter(num);
    counter-increment: num;
    margin-right: 10px;
    display: inline-block;
    top: 0;
    left: -38px;
    width: 28px;
    height: 28px;
    text-align: center;
    background: white;
    color: black;
    border: 1px solid black;
    line-height: 28px;
    font-size: 18px;
}