.block {
    margin-top: 30px;
    height: 92.5vh;

}

.block img{
    height: 92.5vh;
    width: 100%;
}

.blockWithText{
    position: relative;
    padding:30px;
    width: 30%;
    z-index: 3;
    bottom: 90%;
    color: white;
    left: 65%;
    background-color: rgba(84,84,84, .7);
}