.oneClothesWrapper {
    margin-top: 70px;
}

.oneClothes {
    display: flex;
    height: 86vh;
    margin-bottom: 70px;
}

.imgBlock {
    flex: 3;

    display: flex;
    flex-direction: row-reverse;
}

.imgBlock img {
    max-height: 100%;
    max-width: 100%;
}

.infoBlock {
    flex: 2;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 50px;
}

.infoName {
    margin-top: 50px;
    text-align: center;
}

.infoPrice {
    margin-top: 30px;
    text-align: center;
}

.infoSex {
    margin-top: 30px;
    text-align: center;
}

.infoSubcultures{
    margin-top: 30px;
    text-align: center;
}

.infoDescription {
    margin-top: 70px;
    text-align: center;
    line-height: 40px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    word-break: break-word;
}

.infoButton {
    margin-top: 100px;
    text-align: center;
}

.infoButton button{
    font-size: 24px;
    color: black;
    background-color: white;
    width: 50%;
    height: 50px;
    border: 1px solid black;
}

.infoButton button:hover {
    background-color: black;
    color: white;
}

.avgReview{

    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.avgReview img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    position: relative;
    top: 5px;
}

.blockWithReview {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
}

.reviews{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    display: flex;
    border: 1px solid black;
}

.userRate {
    flex: 1;
    height: 100px;
    font-size: 32px;
    position: relative;
    top: 30px;
    text-align: center;
}

.userRate img{
    width: 25px;
}

.usernameAndUserReview {
    flex: 10;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding-left: 10px;
}

.username {
    margin-top: 14px;
    font-weight: 600;
    font-size: 24px;
    flex: 1;
}

.userReview{
    width: 100%;
    flex: 10;
}

.comment {
    display: flex;
    max-width: 100%;
    height: auto;
    word-break: break-word;
    padding-right: 10px;
}

.feedback {
    margin-top: 80px;
    text-align: center;
    font-size: 20px;
}

.sendUserNameReview {
    border: 1px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    padding-bottom: 30px;
}


.feedbacksWrapper {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.feedbackSpan{
    flex: 1;
}

.feedbackInput{
    flex: 8;
}

.feedbackInput input{
    width: 30%;
    font-size: 16px;
}

.feedbackInput select{
    font-size: 16px;
}

.feedbackInput textarea{
    height: 100px;
    width: 100%;
    resize: none;
    font-size: 16px;
}

.feedbackBtn{
    padding-top: 50px;
    text-align: center;
}

.feedbackBtn button{
    background-color: white;
    font-size: 16px;
    height: 40px;
    width: 30%;
    cursor: pointer;
}

.feedbackBtn button:disabled{
    background-color: black;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 30%;
}

.feedbackBtn button:hover{
    cursor: default;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 30%;
}

.del{
    position: relative;
    top: 10px;
    right: 40px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}


