.orderWrapper {
    width: 100%;
    padding-top: 50px;
}

.orderHeader {
    margin-left: 100px;
}

.orders {
    margin-top: 30px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

.orderHeader button {
    width: 330px;
    background-color: white;
    height: 40px;
}

.orderHeader button:hover {
    cursor: pointer;
    width: 330px;
    background-color: black;
    color: white;
    height: 40px;
}

.elementOrder {
    margin-top: 10px;
    margin-left: 40px;
}

.elementClothes {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.clothes {
    margin-top: 10px;
}

.ordersIsEmpty {
    margin-top: 30vh;
    margin-right: 120px;
    padding-bottom: 150px;
    text-align: center;
}

.ordersIsEmpty h1{
    font-weight: 500;
}

.spantext {
    margin-bottom: 30px;
}
