.favoriteWrapper {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.wrapperEmpty {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.imgFav {
    position: absolute;
    top: 280px;
    left: 540px;
}

.imgFav{
    width: 12%;
}

.header {
    font-size: 30px;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 30px;
}

.button{

}

.button button{
    cursor: pointer;
    height: 5vh;
    width: 13%;
    background-color: white;
    z-index: 10;
}

.button button:hover{
    width: 13%;
    height: 5vh;
    background-color: black;
}

.favoritesHeader {
    padding-top: 70px;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-left: 200px;
}

.wrapperNotEmpty {
    margin-top: 10px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.favItems{
    padding-bottom: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.favItem {
    margin-top: 30px;
    width: 24%;
    margin-right: 1%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.imgFavImg {

}


.imgFavImg img{
    width: 100%;
    height: 500px;
    cursor: pointer;
}

.like {
    position: relative;
    top: -490px;
    left: 140px;
}

.like img{
    width: 10%;
    height: 40px;
    cursor: pointer;
}

.infoFavItem {
    margin-top: 10px;
}

.infoFavItemHeader {
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.infoFavItemInfo {
    margin-bottom: 10px;
}

.infoFavItemButton button{
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
    height: 40px;
    background-color: white;
    cursor: pointer;
}

.infoFavItemButton button:hover{
    color: white;
    background-color: black;
}
