.videoBlock {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0%;

}

.containerBlock{

    width: 100%;
    height: 150vh;
}

.youtube {
    margin-top: 70px;
    width: 100%;
    height: 92.5vh;
}
