.fullImgWrapper{
    position: sticky;
    margin-top: 50px;
    height: 100vh;
    width: 100%;
    top: 1%;
}

.fullImgWrapper img{
    width: 100%;
    height: 100vh;
}

.containerBlock{
    width: 100%;
    height: 150vh;
}
