.musicBlockWrapper {
    width: 100%;
    height: 92.5vh;
    display: flex;
}

.leftSidePage {
    flex: 1;
}

.leftTextBlock {
    display: flex;
    position: relative;
    width: 70%;
    height: 50vh;
    top: 10%;
    left: 15%;
    background-color: rgba(255,255,255,1);
    padding-top: 4vh;
    border: 1px solid black;
}

.leftText {
    margin: 0 auto;
    height: 70vh;
    width: 80%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
}

.rightSidePage {
    flex: 1;
}

.rightSidePage img{
    position: relative;
    width: 80%;
    height: 75%;
    left: 8%;
    top: 15%;
}
