.wrapper {
    height: 100vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.9);
    z-index: 30;
    padding-top: 50px;
}

.loginWrapper{
    height: 85vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.header h1{
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: 600;
}

.text h2{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
}

.form {
    margin-top: 20px;
    width: 50%;

}

.inputWithText {
    margin: 0 auto;
}

.inputWithText input{
    font-size: 16px;
    width: 100%;
    height: 30px;
    border: 1px solid white;
    background-color: white;
    border-bottom: 1px solid black;
}

.inputWithText input:hover{
    border: 1px solid black;
}


.textInput {
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
}

.button {
    margin-top: 80px;
}

.button button{
    width: 103%;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.button button:disabled{
    background-color: black;
    color: white;
}

.button button:hover {
    color: white;
    background-color: black;
}

.registration {
    margin-top: 30px;
    font-size: 16px;
}