.wrapper{
    height: 90vh;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.9);
    z-index: 30;
    padding-top: 100px;
}

.loginWrapper{
    height: 80%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255,255,255, 1);
}

.header h1{
    padding-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: 600;
}

.text h2{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
}

.form {
    height: auto;
    margin-top: 20px;

}

.inputWithText {
    margin: 0 auto;
}

.navLink {
    text-decoration: none;
}

.navLink:visited {
    color: black;
}

.inputWithText input{
    font-size: 16px;
    width: 100%;
    height: 30px;
    border: 1px solid white;
    border-bottom: 1px solid black;
}

.inputWithText input:hover{
    border: 1px solid black;
}

.textInput {
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
}

.button {
    margin-top: 80px;
}

.button button {
    width: 103%;
    height: 50px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.button button:disabled {
    background-color: black;
    color: white;
    cursor: default;
}

.button button:hover {
    color: white;
    background-color: black;
}
.registration {
    margin-top: 30px;
    font-size: 16px;
}

.registration span {
    padding-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.registration span:hover {
    color: gray;
}