.wrapper {
    background-color: white;
    width: 100%;
    height: 93vh;
    top: 7.5%;
    position: sticky;
}

.containerBlock {
    width: 100%;
    height: 150vh;
}

.header {
    text-align: center;
    font-size: 24px;
}

.letovImg img{
    width: 100%;
    height: 85vh;
    cursor: pointer;
}

.name {
    position: relative;
    top: 100px;
    left: 300px;
    color: white;
    height: 10px;
    width: 300px;
    font-style: italic;
}