.deleteForm{
    flex: 1;
    border: 1px solid black;
    margin: 60px;
    padding: 30px;
}

.span{
    margin-top: 60px;
    margin-bottom: 10px;
}

.input input{
    margin-bottom: 30px;
    width: 80%;
    height: 20px;
    font-size: 16px;
}

.button button{
    width: 80%;
    height: 40px;
    background-color: white;
}

.button button:hover{
    width: 80%;
    height: 40px;
    color: white;
    background-color: black;
}
