.navbar{
    position: fixed;
    top: 0;
    height: 7.5vh;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    display: flex;

}

.link {
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.link:visited {
    color: black;
}

.link.activeLink {
    font-weight: 700;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}



.showAllNavBar{
    flex: 1;
}

.showAllNavBar img {
    padding-left: 60px;
    padding-top: 30px;
}

.listNavbar{
    flex: 3;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}


.elementsListNavBar{
    flex: 1;
    padding-top: 30px;
}
.login{
    flex: 4;
    display: flex;
    justify-content: flex-end;

}
.login img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    padding-top: 20px;
}

.userNotAuth {
    margin-top: 30px;
    font-size: 20px;
    margin-right: 30px;
}

.userAuth {
    padding-bottom: 10px;
}

.userAuth img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.userAuth span{
    margin-right: 20px;
    cursor: pointer;
}

