.chatWrapper {
    margin-top: 80px;
    padding-bottom: 250px;
}

.chat{
    border: 1px solid black;
    height: 600px;
    margin: 0 auto;
    width: 40%;

}

.chatMessages{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    overflow-y: scroll;
    height: 550px;
}

.chatMessage{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.userNameImMessage span{
    font-weight: 600;
    word-break: break-word;
}

.userNameImMessage button{
    background-color: white;
}

.userNameImMessage button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.userMessage {
    font-weight: 500;
}

.sendMessageBlock {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.username {
    font-weight: 600;
    margin-bottom: 10px;
}

.inputSendMessage{
    width: 100%;
}

.inputSendMessage textarea{
    height: 90px;
    resize: none;
    font-size: 16px;
    width: 100%;
}

.sendMessageButton {
    text-align: center;
}

.sendMessageButton button{
    width: 40%;
    margin-top: 10px;
    background-color: white;
    height: 40px;
    cursor: pointer;
}

.sendMessageButton button:hover{
    width: 40%;
    background-color: black;
    height: 40px;
}

.clearAll {
    background-color: white;
    cursor: pointer;
}

.clearAll:hover {
    background-color: black;
}