.containerBlock {
    height: 150vh;
    width: 100%;
}

.partTwoPageWrapper {
    padding-top: 70px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 92.5vh;
}

.partTwoPageWrapper img {
    width: 100%;
    height: 92.5vh;
}

