.partSevenBlock {
    background-color: white;
    width: 100%;
    height: 93vh;
    top: 7.5%;
    position: sticky;
}

.containerBlock {
    width: 100%;
    height: 150vh;
}

.youtube {
    width: 100%;
    height: 92.5vh;
}