.containerBlock {
    width: 100%;
    height: 200vh;
}

.partThreePageWrapper {
    display: flex;
    width: 100%;
    height: 94.5vh;
    padding-top: 70px;
    position: sticky;
    top: 0;
}

.leftSideBlock {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.headerLeftSide {
    flex: 1;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
}

.headerLeftSide p {
    margin: 0;
}


.textLeftSide {
    padding-right: 5%;
    padding-left: 5%;
    flex: 5;
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.05em;
}


.imgLeftSide {
    display: flex;
    flex: 5;
    justify-content: center;
    padding-bottom: 3%;
}

.imgLeftSide img {
    height: 95%;
    width: 90%;
}


.middleSideBlock {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleImg {
    flex: 1;
}

.middleImg img {
    padding-top: 5%;
    width: 100%;
}

.middleText {
    padding-left: 6%;
    padding-right: 6%;
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.05em;
    flex: 1;
}

.rightSideBlock {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.rightImg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightImg img {
    padding-top: 5%;
}

.rightText {
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.05em;
    flex: 10;
}

