.firstPageContentWrapper {
    position: sticky;
    margin-top: 50px;
    height: 100vh;
    width: 94%;
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    top: 1%;
}

.containerBlock{
    height: 150vh;
    width: 100%;
}

/*leftSIDE////////////////////////////////////////////////////////////////////////////////////////////*/

.leftSideContent {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
}
.header h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.05em;
}

.firstH1{
    position: absolute;
}
.secondH2{
    padding-top: 17px;
}

.pictureBlock {
    flex: 4;
    background-color: white;
}

.mainText {
    flex: 6;
}

.textInMainText {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    line-height: 30px;
    font-size: 16px;
}



/*rightSIDE//////////////////////////////////////////////////////////////////////////////////////////////*/

.rightSideContent {
    flex: 6;

}

.blockWithQuote {

    position: absolute;
    width: 35%;
    right: 15%;
    top: 15%;
    display: block;
    z-index: 3;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 0.01em;
}

.rightPicture {
    position: absolute;
    right: 3%;
    top:280px;
    height: 483px;
}

.rightPicture img {

}