.footer {
    height: 150px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
}

.PartOne {
    text-align: center;
    margin-top: 30px;
}

.PartOne img{
    margin-right: 15px;
    width: 30px;
}

.PartTwo {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin-right: 10px;
}

.PartThree {
    margin-top: 30px;
    text-align: right;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.link {
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}

.link:visited {
    color: black;
}

.link.activeLink {
    font-weight: 700;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
