.typeOfSubculturesWrapper {
    display: flex;
    height: 100vh;
    margin-top: 70px;
    margin-right: 3%;
    margin-left: 3%;
    width: 94%;
    padding-top: 80px;
    position: sticky;
    top: 1%;
}

.containerBlock {
    width: 100%;
    height: 150vh;
}

.leftSideContentBlock {
    flex: 1;
}

.leftSideContentBlock img {
    padding-top: 10px;
    width: 80%;
    height: 80vh;
}


.rightSideContentBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    flex: 1;
}
.header p {
    margin: 0;
}

.text {
    flex: 9;
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 41px;
    /* or 121% */

    letter-spacing: 0.05em;
}

.img {
    flex: 10;
}

.img img {
    width: 100%;
    height: 38vh;

}


