.dropdownTypes{
    position: absolute;
    width: 9%;
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 230px;
    left: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.items {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 500;
}

.items input {
    width: 20px;
    border-radius: 0px;
}


.applyAndClear{
    display: flex;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-top: 1px solid black;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.applyAndClear button {
    margin-top: 10px;
    height: 26px;
    width: 60%;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.applyAndClear button:hover {
    background-color: black;
    color: white;
}