.block {
    height: 92.5vh;
    display: flex;
    line-height: 30px;
}

.left {
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.leftText {
    margin: 30px;
}

.leftImg {
    flex: 1;
    margin-left: 10px;
    width: 100%;
}

.leftImg img {
    width: 100%;
}


.middle{
    margin-top: 1px;
    width: 16%;
    height: 92.5vh;
}

.middle img{
    height: 92.5vh;
    width: 100%;
}

.right{
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rightImg img{
    width: 100%;
}

.rightText {
    padding: 20px;
}