.basketWrapper {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.basketEmpty {
    padding-top: 300px;
    padding-bottom: 250px;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
}

.imgBasketEmpty {
    position: absolute;
    top: 300px;
    left: 400px;
}
.imgBasketEmpty img{
    width: 200px;
}

.header {
    font-size: 30px;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 30px;
}

.button{

}

.button button{
    cursor: pointer;
    width: 15%;
    height: 5vh;
    background-color: white;
}

.button button:hover{
    width: 15%;
    height: 5vh;
    background-color: black;
}

.basketHaveItems {
    width: 50%;
    margin-top: 100px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.headerForm {
    font-size: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.formOrder{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.formText {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    flex: 1;
    display: flex;
}

.textInForm {
    flex: 1;
    display: flex;
}

.inputInForm {
    flex: 1;
}

.inputInForm input{
    font-size: 16px;
    width: 90%;
    height: 24px;
    border: 1px solid black;
    background-color: white;
    padding-left: 5px;
}

.inputInForm textarea{
    height: 150px;
    width: 91%;
    resize: none;
    font-size: 16px;
    padding-left: 5px;
    font-family: PT-Sans, sans-serif;
}

.order {
    padding-top: 100px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
    border-bottom: 1px solid black;
}

.order h1 {
    margin: 0 auto;
}

.buttonOrder {
    width: 30%;
    margin: 0 auto;
}

.buttonOrder button:disabled{
    background-color: black;
    color: white;
}

.buttonOrder button {
     margin-top: 30px;
     width: 100%;
    font-size: 16px;
     height: 40px;
     color: black;
     background-color: white;
    cursor: default;
}

.buttonOrder button:hover {
    background-color: black;
    color: white;
}

.cartInfo {
    margin-top: 80px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.cartInfoClothes {
    flex: 3;
    font-size: 24px;
}


.cartInfoCountClothes{
    flex: 1;
    text-align: center;
}

.cartInfoPriceClothes {
    flex: 1;
    text-align: center;
}

.allItemsOnBasket {
    width: 100%;
}

.basketClothesBlock {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.clothesBasket {
    flex: 3;
    display: flex;
}

.imgClothes {
    padding-left: 20px;
    flex: 1;
}

.imgClothes img{
    width: 150px;
    height: 210px;
}

.clothesInfo {
    flex: 2;
}

.headerClothes {
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 30px;
}

.descriptionClothes {
    font-size: 14px;
    margin-left: 10px;
}

.clothesCount {
    margin-top: 100px;
    text-align: center;
    flex: 1;
}

.clothesPrice {
    margin-top: 100px;
    flex: 1;
    text-align: center;
}

.deleteItem {
   position: relative;
    top: 70px;
}

.deleteItem button {
    height: 30px;
    width: 70%;
    background-color: white;
    cursor: pointer;
}

.deleteItem button:hover {
    width: 70%;
    background-color: black;
    color: white;
}

.blockOrderClothes {
    width: 100%;
    display: flex;
}

.informationOrder {
    position: absolute;
    width: 20%;
    height: 70vh;
    top: 150px;
    right: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.InfoBlockDelivery {
    flex: 1;
}

.informationPayment {
    flex: 1;
}

.informationBrands {
    flex: 1;

}

.imgOrder img{
    width: 70px;
}

.headerInInformation {
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;

}

.infoText {
    font-size: 12px;
    padding-top: 10px;
}

.link {
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
