.historySubBlockWrapper {
    display: flex;
    height: 100vh;
    width: 94%;
    margin-top: 30px;
    margin-right: 3%;
    margin-left: 3%;
    position: sticky;
    top: 1%;
}

.containerBlock {
    width: 100%;
    height: 150vh;
}

.historyBlockHeader {
    flex: 1;
}

.header {
    display: block;
    position: relative;
    top: 750px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 35px;
    letter-spacing: 0.05em;
}

.header p {
    margin: 0;
    padding-top: 5px;
}

.historyBlockText {
    flex: 2;
}

.text {
    display: block;
    position: relative;
    top: 40px;
    left: 15%;
    height: 60%;
    width: 80%;
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 54px;
    letter-spacing: 0.05em;
    margin-top: 10px;
}
.text p {
    margin: 1px;
}

.stickBlock {
    display: block;
    width: 13%;
    margin-left: 90%;
}

.stick {
    border-top: 8px solid black;
}