.containerBlock {
    width: 100%;
    height: 150vh;
}

.partFourPageBlock {
    padding-top: 70px;
    position: sticky;
    top: 0;
    height: 94.5vh;
    width: 100%;
    display: flex;
}

.leftSideBlock {
    flex: 2;
}

ol li {
    font-size: 18px;
}

.leftSideBlock p{
    max-width: 30px;
}

.leftSideBlock ol {
    margin-top: 30%;
    list-style-type: none;
    counter-reset: num;

}

.leftSideBlock ol li {
    position: relative;
    margin-bottom: 50px;
}

.leftSideBlock ol li:before {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    margin-right: 10px;
    top: 0;
    left: -38px;
    width: 28px;
    height: 28px;
    background: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
}


.middleImgBlock {
    flex: 6;
    background-color: orange;

}

.middleImgBlock img {
    position: relative;
    top: 20%;
    left: 20%;
}

.rightSideBlock {
    flex: 2;
}

.rightSideBlock ol {
    margin-top: 30%;
    list-style-type: none;
    counter-reset: num 7;
}

.rightSideBlock ol li {
    position: relative;
    margin-bottom: 50px;
}

.rightSideBlock ol li:before {
    content: counter(num);
    counter-increment: num;
    margin-right: 10px;
    display: inline-block;
    top: 0;
    left: -38px;
    width: 28px;
    height: 28px;
    text-align: center;
    background: white;
    color: black;
    border: 1px solid black;
    line-height: 28px;
    font-size: 18px;
}
