.containerBlock {
    height: 150vh;
    width: 100%;
}

.partFivePunkPageWrapper {
    padding-top: 70px;
    height: 92.5vh;
    top: 0;
    position: sticky;
    display: flex;
}

.onePartPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topOnePartPage img{
    width: 100%;
    height: 35vh;
}
.middleOnePartPage{
    letter-spacing: 0.05em;
    line-height: 105%;
    font-size: 20px;
    width: 90%;
}
.bottomOnePartPage img{
    width: 100%;
    height: 40vh;
}




.twoPartPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topTwoPartPage img{
    width: 100%;
    height: 33vh;
}

.middleTwoPartPage{
    letter-spacing: 0.05em;
    line-height: 105%;
    font-size: 20px;
    width: 90%;
}
.bottomTwoPartPage img{
    width: 100%;
    height: 40vh;
}




.threePartPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topThreePartPage img{
    width: 100%;
    height: 40vh;
}
.middleThreePartPage{
    letter-spacing: 0.05em;
    line-height: 105%;
    font-size: 20px;
    width: 90%;
}
.bottomThreePartPage img{
    width: 100%;
    height: 25vh;
}




.fourPartPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topFourPartPage img {
    width: 100%;
    height: 40vh;
}
.middleFourPartPage{
    letter-spacing: 0.05em;
    line-height: 105%;
    font-size: 20px;
    width: 90%;
}
.bottomFourPartPage img{
    width: 100%;
    height: 40vh;
}




.fivePartPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topFivePartPage img{
    width: 100%;
    height: 40vh;
}
.middleFivePartPage{
    letter-spacing: 0.05em;
    line-height: 105%;
    font-size: 20px;
    width: 90%;
}
.bottomFivePartPage img{
    width: 100%;
    height: 34vh;
}
