
.partOneWrapper {
    padding-top: 10px;
    width: 100%;
    height: 92.5vh;
    display: flex;
}

.punkBlockPic {
    flex: 1;
}

.punkBlockPic img {
    width: 100%;
    height: 92.5vh;
}

.punkBlockText {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.headerNameBlock {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    align-items: flex-end;
    flex: 1;
}

.headerNameBlock span {
    padding-top: 3%;
    padding-right: 3%;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 38px;

    letter-spacing: 0.05em;
}

.blockWithText {
    flex: 10;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blockWithText p {
    padding: 5px;
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0.05em;
}