.app-wrapper {
    margin: 0;
    font-family: 'PT-Sans', sans-serif;
    letter-spacing: 0.05em;
    line-height: 20px;
    font-size: 16px;
    color: #000000;
    background-color: white;
}

a:-webkit-any-link {
    color: black;
}

/*::-webkit-scrollbar {*/
/*    width: 0px;*/
/*}*/
