.listMenu {
    position: fixed;
    display: flex;
    height: auto;
    padding-bottom: 10px;
    width: 140px;
    top: 70px;
    left: 235px;
    background-color: white;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.listItem {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.list {
    margin-top: 10px;
}

.link {
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}


.link:visited {
    color: black;
}


.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.link.activeLink {
    font-weight: 700;
}