.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    z-index: 99;
    top: -149px;
    left: -660px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    padding: 20px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modalContent.active {
    transform: scale(1);
}

