.formAdmin {
    border: 1px solid black;
    padding-top: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.elementsInForm {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.elementInForm {
    margin-top: 20px;
}

.spanInForm {
    margin-bottom: 10px;
    font-size: 16px;
}

.inputInForm input{
    width: 50%;
    height: 20px;
    font-size: 16px;
}

.inputInForm select{
    width: 51%;
    height: 30px;
    font-size: 16px;
}

.elementInForm textarea{
    height: 100px;
    width: 50%;
    resize: none;
    font-size: 16px;
}

.buttonInForm {
    margin-top: 30px;
    margin-bottom: 50px;
}

.buttonInForm button{
    width: 50%;
    height: 40px;
    background-color: white;
}

.buttonInForm button:hover{
    width: 50%;
    height: 40px;
    background-color: black;
    color: white;
}
