.about {
    margin: 0 auto;
    width: 50%;
}

.aboutBlock {
    margin-top: 50px;
    width: 100%;
}

.aboutBlock h1,h3{
    text-align: center;
}

.aboutBlock p:first-letter {
    padding-left: 30px;
}