.block {
    height: 92.5vh;
    display: flex;
}

.left img{
    width: 100%;
    height: 92.5vh;
}

.right {
    display: flex;
    flex-direction: column;

}

.topImg img{
    height: 40vh;
    width: 100%;
}

.bottomImg img{
    position: relative;
    bottom: 10px;
    height: 53vh;
    width: 100%;
}

