.itemsLogin {
    position: fixed;
    width: 200px;
    height: 240px;
    right: 10px;
    top: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.items {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 10px;
}

.link {
    font-family: 'PT-Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.link:visited {
    color: black;
}

.link.activeLink {
    font-weight: 700;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logoutAndClose {
    margin-top: 30px;
    border-top: 1px solid rgba(123, 128, 115, 0.5);
}